body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.tital {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.to-do-grid,
.todo-input {
  display: grid;
  grid-template-columns: 200px 190px 100px;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  justify-content: start;
  margin-bottom: 30px;
}
.to-do-grid {
  margin-top: 30px;
  margin-left: 40px;
}

.todo-input {
  margin-bottom: 25px;
  align-items: stretch;
}
.name-input,
.due-date-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  width: 160px;
  outline: none;
  border: none;
  background: #e0e5ec;
  color: black;
  text-align: center;
  /* background: #fffc58; */
  box-shadow: 10px 10px 20px #bec2c9, -10px -10px 20px #ffffff;
}
.add-button {
  background-color: rgb(255, 240, 36);
  color: rgb(0, 0, 0);
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 30px;
  width: 80px;
  box-shadow: 10px 10px 20px #bec2c9, -10px -10px 20px #ffffff;
}
.delete-button {
  background-color: rgb(223, 61, 61);
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 30px;
  width: 80px;
  position: relative;
  right: 20px;
}

.container {
  width: 800px;
  /* height: 90vh; */
  /* background: linear-gradient(135deg, #f0f0f0, #e0e0e0); */
  border-radius: 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* background: #c9d5e0; */
  border-radius: 10px;
  box-shadow: -3px -3px 7px #d1d1d173, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
